<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Asignar Eleccion
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="number" [(ngModel)]="cui" name="cui" class="form-control" placeholder="Dpi" required autofocus>
                </div>
                <select id="lista" name="lista" class="from-control" [(ngModel)]="votacion">
                    <option *ngFor="let Eleccion of Elecciones" value={{Eleccion.id_eleccion}}>  
                        {{Eleccion.titulo}}  
                    </option>  
                </select>
                <br>
                <br>
                <input type="submit" value="Asignar a votacion" class="btn btn-primary btn-block" (click)="Asignacion()">
            </div>
        </div>
    </div>
</div>