<div class="container">
    <h1>Auditoria de Votos</h1>  
  <div class="row" > 
    <table class="table-info">
        <thead>
          <tr>
            <th scope="col">Candidato</th>
            <th scope="col">Foto</th>
            <th scope="col">Partido</th>
            <th scope="col">Foto p</th>
            <th scope="col">Eleccion</th>
            <th scope="col">Total de Votos</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaAudit.rows">
            <td>{{item.nombre}}</td>
            <td><img src="{{item.foto}}" alt="" style="height: 30px; width: 30px"></td>
            <td>{{item.Partido}}</td>
            <td><img src="{{item.imagen_partido}}" alt="" style="height: 30px; width: 30px"></td>
            <td>{{item.titulo}}</td>
            <td>{{item.total}}</td>
          </tr>
        </tbody>
      </table>
        <div >

        </div>
  </div>
</div>
