<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignUp
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <div class="form-group">
                        <input type="number"  [(ngModel)]="user.cui" name="cui" class="form-control" placeholder="CUI" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.apellido" name="apellido" class="form-control" placeholder="Apellido" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.telefono" name="telefono" class="form-control" placeholder="Telefono" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.foto" name="foto" class="form-control" placeholder="Foto" required>
                    </div>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="user.pin" name="pin" class="form-control" placeholder="Pin" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.correo" name="correo" class="form-control" placeholder="Correo" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.tipo" name="tipo" class="form-control" placeholder="Tipo" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.pais" name="pais" class="form-control" placeholder="Pais" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.estado" name="estado" class="form-control" placeholder="Estado" required>
                    </div>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="user.id_municipio" name="id_municipio" class="form-control" placeholder="Municipio" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        SignUp
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>