<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YoVoto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">  
          <li *ngIf="logueado" class="nav-item">
            <a class="nav-link" routerLink="/Eleccion" routerLinkActive="active">Eleccion</a>
          </li>
          <li *ngIf="logueado && admin" class="nav-item">
            <a class="nav-link" routerLink="/Mantenimiento-Eleccion" routerLinkActive="active">Listado Elecciones</a>
          </li>
          <li *ngIf="logueado && !admin" class="nav-item">
            <a class="nav-link" routerLink="/Votos" routerLinkActive="active">Votar</a>
          </li>
          <li *ngIf="logueado && !admin" class="nav-item">
            <a class="nav-link" routerLink="/relecciones" routerLinkActive="active">Resultados</a>
          </li>
          <li *ngIf="logueado && admin" class="nav-item">
            <a class="nav-link" routerLink="/auditoria" routerLinkActive="active">Auditoria</a>
          </li>
          <li *ngIf="logueado && admin" class="nav-item">
            <a class="nav-link" routerLink="/Renap-Masivo" routerLinkActive="active">RENAP</a>
          </li>
        </ul>
        <ul *ngIf="!logueado" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active">SignIn</a>
          </li>
          <li *ngIf="!logueado" class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">SigUp</a>
          </li>
        </ul>
        <ul *ngIf="logueado" class="navbar-nav ml-auto">
          <li *ngIf="logueado" class="nav-item">
            <a class="nav-link" (click)="salir()" routerLinkActive="active">Salir</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
<div class="container p-5">
  <router-outlet></router-outlet>
</div>

