<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar
        </button>
    </div>

</div>
<br>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Inicio</th>
                <th scope="col">Fin</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Candidatos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let eleccion of elecciones">
                <th scope="row">{{eleccion.id_eleccion}}</th>
                <td>{{eleccion.titulo}}</td>
                <td>{{eleccion.descripcion}}</td>
                <td>{{eleccion.fecha_ini}}</td>
                <td>{{eleccion.fecha_fin}}</td>
                <td>{{eleccion.ubicacion}}</td>
                <td><a type="button" class="btn btn-primary" [routerLink]="['/Mantenimiento-Candidato/',eleccion.id_eleccion]">
                    Ver
                </a></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agergar Elección</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="dataForm">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Título</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="titulo">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="descripcion">
                    </div>
                    <div class="row">
                        <!--div class="col"-->
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Inicio</label>
                                <input type="datetime-local" class="form-control" id="exampleInputPassword1" formControlName="inicio">
                            </div>
                        <!--/div-->
                        <!--div class="col">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div-->

                    </div>
                    <div class="row">
                        <!--div class="col"-->
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Fin</label>
                                <input type="datetime-local" class="form-control" id="exampleInputPassword1" formControlName="fin">
                            </div>
                        <!--/div-->
                        <!--div class="col">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div-->

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Ubicación</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="ubicacion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="crear()" >Guardar</button>
            </div>
        </div>
    </div>
</div>