<section id="ganador">
<div class="container">
    <h1>Candidato Ganador</h1>  
  <div class="row" > 
<div class="col-md-4" style="margin-left:200px">
  <div class="card-header d-flex text-white bg-dark justify-content-between ">    
    {{ganador.rows[0].nombre}}
  </div>
  <img src="{{ganador.rows[0].foto}}" alt="" style="height: 300px; width: 300px">
  <div class="card-bady">
    Total de votos:   {{ganador.total}}
  </div>
  <div class="card-bady">
    Porcentaje de votos:  {{porcentaje}}%
  </div>

</div>
  <div>
    <div class="col-md-8" style="margin-left:100px ;">    
        
      <div class="card-bady" >
        <h4>Total de Votantes Registrados: {{registrados}}</h4>
      </div>
      <div class="card-bady">
        <h4>Total de Personas que han votado: {{votantes}}</h4>    
      </div>
      <div class="card-bady">
        <input type="button" class="btn btn-warning" value="GRAFICAS" onClick="document.getElementById('graficas').scrollIntoView();" />
        <input type="button" class="btn btn-success" value="MAPA" onClick="document.getElementById('mapa').scrollIntoView();" />
        <input type="button" class="btn btn-primary" value="GANADOR" onClick="document.getElementById('ganador').scrollIntoView();" />
      </div>
  </div>
<br>
<br>
</div>

</div>
</div>
</section>

<section id="graficas">
    <div class="container">
      <div class="row" > 
        <div class="col-md-6" style="margin-left:200px">
            <h1>Grafica de Pie</h1>  
            <div style="display: block;">
              <canvas baseChart 
                  [data]="pieChartData" 
                  [labels]="pieChartLabels" 
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend">
              </canvas>
            </div>
        </div>
        <div class="col-md-6" style="margin-left:100px ;">
          <h1>Grafica de Barras</h1>  
          <div style="display: block;">
            <canvas baseChart 
              [datasets]="barChartData"
              [options]="barChartOptions"
              [labels]="barChartLabels"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
          <div class="card-bady">
            <input type="button" class="btn btn-warning" value="GRAFICAS" onClick="document.getElementById('graficas').scrollIntoView();" />
            <input type="button" class="btn btn-success" value="MAPA" onClick="document.getElementById('mapa').scrollIntoView();" />
            <input type="button" class="btn btn-primary" value="GANADOR" onClick="document.getElementById('ganador').scrollIntoView();" />
          </div>
        </div>

      </div>
    </div>

    </section>
<section id="mapa">
  <div class="container">

    <h1>Elecciones distribuidas por departamento</h1>
  
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onMapClicked($event)">
      <agm-marker 
      *ngFor="let marker of markers" 
      (markerClick)="Marcador(marker)"
            [latitude]="marker.lat" 
              [longitude]="marker.lng">    
              
                  <agm-info-window #infoWindow>

                      {{ marker.label }}

                </agm-info-window>

        </agm-marker>
    </agm-map>
 
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
    <h5 style="color: red;">{{errorUbicacion}}</h5>
  </div>
  <div class="card-bady">
    <input type="button" class="btn btn-warning" value="GRAFICAS" onClick="document.getElementById('graficas').scrollIntoView();" />
    <input type="button" class="btn btn-success" value="MAPA" onClick="document.getElementById('mapa').scrollIntoView();" />
    <input type="button" class="btn btn-primary" value="GANADOR" onClick="document.getElementById('ganador').scrollIntoView();" />
  </div>
</section>

<section id="mapa2">
  <div class="container">

    <h1>Elecciones distribuidas por Municipios</h1>
  
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onMapClicked($event)">
      <agm-marker 
      *ngFor="let marker of markers2" 
      (markerClick)="Marcador(marker)"
            [latitude]="marker.lat" 
            [iconUrl]="$any(icon)"  
            [longitude]="marker.lng">    
              
                  <agm-info-window #infoWindow>

                      {{ marker.label }}

                </agm-info-window>

        </agm-marker>
    </agm-map>
 
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
    <h5 style="color: red;">{{errorUbicacion}}</h5>
  </div>
  <div class="card-bady">
    <input type="button" class="btn btn-warning" value="GRAFICAS" onClick="document.getElementById('graficas').scrollIntoView();" />
    <input type="button" class="btn btn-success" value="MAPA" onClick="document.getElementById('mapa').scrollIntoView();" />
    <input type="button" class="btn btn-primary" value="GANADOR" onClick="document.getElementById('ganador').scrollIntoView();" />
  </div>
</section>



