<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar
        </button>
    </div>

</div>
<br>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">CUI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Foto</th>
                <th scope="col">Logo</th>
                <th scope="col">Partido</th>
                <th scope="col">Departamento</th>
                <th scope="col">Municipio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidato of candidatos">
                <th scope="row">{{candidato.cui}}</th>
                <td>{{candidato.nombre}}</td>
                <td> <img src="{{candidato.foto}}" class="img-fluid" alt="..."></td>
                <td> <img src="{{candidato.imagen_partido}}" class="img-fluid" alt="..."></td>
                <td>{{candidato.Partido}}</td>
                <td>{{candidato.departamento}}</td>
                <td>{{candidato.municipio}}</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agergar Candidato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="dataForm">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">CUI</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="cui">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="nombre">
                    </div>
                    <div class="row">
                        <!--div class="col"-->
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Partido</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" formControlName="partido">
                            </div>
                        <!--/div-->
                        <!--div class="col">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div-->

                    </div>
                    <div class="row">
                        <!--div class="col"-->
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Foto</label>
                                <input type="file" (change)="handleUpload($event)" class="form-control" id="foto"
                                accept="image/jpeg">
                            </div>
                        <!--/div-->
                        <!--div class="col">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div-->

                    </div>
                    <div class="row">
                        <!--div class="col"-->
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Logo Partido</label>
                                <input type="file" (change)="handleUploadLogo($event)" class="form-control" id="foto"
                                accept="image/jpeg">
                            </div>
                        <!--/div-->
                        <!--div class="col">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div-->

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Departamento</label>
                        <select class="form-select" aria-label="Default select example" (change)="selectDepartamento($event)" formControlName="departamento" >
                            <option *ngFor="let departamento of departamentos" value="{{JSON.stringify(departamento)}}">{{departamento.nombre}}</option>
                          </select>
                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Municipio</label>
                        <select class="form-select" aria-label="Default select example"  formControlName="municipio" >
                            <option *ngFor="let municipio of municipios" value="{{municipio.nombre}}">{{municipio.nombre}}</option>
                          </select>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="crear()" >Guardar</button>
            </div>
        </div>
    </div>
</div>