

<div class="container">
    <h1>Lista de Elecciones</h1>  
  <div class="row" > 
     <div class="col-md-4" *ngFor="let eleccion of listaElecciones.response">
<div class="card text-center">
  <div class="card-header d-flex text-white bg-dark justify-content-between ">
    
    {{eleccion.titulo}}
  </div>
  <div class="card-bady">
   Fecha de inicio {{eleccion.fecha_ini| date:'dd/MM/YYY'}}
  </div>
  <div class="card-bady">
    Hora de inicio {{eleccion.fecha_ini| date:'h:mm:ss a z'}}
   </div>
  <div class="card-bady">
    Fecha a terminar {{eleccion.fecha_fin| date:'dd/MM/YYY'}}
   </div>
   <div class="card-bady">
    Hora a terminar {{eleccion.fecha_fin| date:'h:mm:ss a z'}}
   </div>
  <div class="card-bady">
    <button class="btn btn-primary"  [routerLink]="['/ganador',eleccion.id]"> Entrar</button>
  </div>
</div>
<br>
<br>
</div>

</div>
</div>