<div class="row">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Foto</label>
        <input type="file" (change)="handleUpload($event)" class="form-control" id="foto" accept=".csv">
    </div>
</div>

<button type="button" class="btn btn-primary" (click)="crear()" >Guardar</button>