<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Votar
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="number" [(ngModel)]="cui" name="cui" class="form-control" placeholder="Dpi" required autofocus>
                </div>
                <input type="submit" value="Ver Votaciones" class="btn btn-primary btn-block" (click)="votar()">
                <br>
                <select id="lista" name="lista" class="from-control" [(ngModel)]="votacion">
                    <option *ngFor="let voto of votos" value={{voto.id_eleccion}}>  
                        {{voto.titulo}}
                    </option>  
                </select>
                <br>
                <br>
                <input type="submit" value="Ver Postulados" class="btn btn-primary btn-block" (click)="GetPostulados()">
                
                <!-- <input type="submit" value="Asignar a votacion" class="btn btn-primary btn-block" (click)="Asignacion()"> -->
            </div>
            <br>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Candidato</th>
                    <th scope="col">Partido</th>
                    <th scope="col">VOTAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active" *ngFor="let postulado of postulados">
                    <td>
                        <img [src]="postulado.foto"  width="25%" alt="{{postulado.foto}}" >
                    </td>
                    <td>
                        <img [src]="postulado.imagen_partido"  width="25%" alt="{{postulado.imagen_partido}}">
                        <br>
                        {{postulado.partido}}
                    </td>
                    <td>
                        <input type="submit" value="VOTAR" class="btn btn-primary btn-block" (click)="Elegir(postulado.cui)">
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>