<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
            </div>
            <div class="card-body">
                <form (submit)="signIn()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.cui" name="cui" class="form-control" placeholder="Dpi" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.correo" name="correo" class="form-control" placeholder="Email" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        SignIn
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>